.Owner {
  font-weight: bold;
  color: #ffa750;
  margin-right: 8px;
  overflow: hidden;
  width: 200px;
  display: -webkit-box;
}

.Date {
  font-size: 14px;
  font-weight: 400;
  color: #c1c1c5;
}

.CommentsContent {
  background-color: #181435;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dadadf;
}

.CommentsContent p {
  max-width: 500px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  overflow: hidden;
}

/* Media queries */

/* 767px */
@media (max-width: 767px) {
  .CommentsContent p {
    max-width: 400px;
  }
}
