.DropdownItem {
  display: flex;
  align-items: center;
  justify-content: left;
}

.DropdownIcon {
  display: inline-block;
  align-items: center;
  padding: 0px;
  margin-right: 8px;
  background: linear-gradient(70deg, #cd006a, #2e241a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.DropdownItemText {
  font-family: "Roboto", sans;
  font-weight: 500;
  font-size: 14px;
  color: #000000 !important;
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
