.NavBar {
  padding: 1.4rem 0 1.4rem 0;
  width: 100%;
  height: 12rem;
  background-image: url("../assets/nav_banner.png");
  background-position: center;
}

/* NavLink text */

.NavLink {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 17px;
  white-space: nowrap;
}

.NavLink:hover {
  color: #ffa750 !important;
}

.Active i {
  color: #64B9FF;
}

.NavBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 100%;
}

.ProfileName {
  display: flex;
  align-items: center;
}

/* NavBar icons */

.NavDiscoverIcon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.7rem;
}

.NavIcons {
  font-size: 1rem;
  margin-bottom: 3px;
  margin: 0 5px 0 5px;
}

/* Logo styling */

.LogoMain {
  display: block;
}

.LogoSmall {
  display: none;
}

/* Search button, icon and input form */

.NavSearchForm {
  display: flex;
  align-items: center;
  max-width: 15rem;
  width: 15rem;
  height: 5rem;
  padding-left: 25px;
}

.NavSearchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.NavSearchIcon {
  font-size: 1.1rem;
}

.BtnSearch {
  background-color: #ffffff;
  border: 1.6px solid #000000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.BtnSearch:hover {
  background-color: #23272b;
}

.BtnSearch i {
  color: #000000;
}

.BtnSearch:hover i {
  color: #ffa750;
  border-color: #ffa750;
}

/* Search container */

.SearchContainer {
  display: flex;
  align-items: center;
}

/* Authentication buttons */

.BtnLoginOut {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  color: #ffffff;
}

.BtnLoginOut:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffa750;
}

.BtnSignUp {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  background-color: #8a4af3;
}

.BtnSignUp:hover {
  background-color: #ffffff;
  color: #000000;
}

.BtnSignUp:focus {
  background-color: #000000;
  color: #ffffff;
}


/* Media queries */

/* 1480px */
@media (max-width: 1480px) {
  .NavBackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
  }

  .NavDiscoverIcon {
    font-size: 1.7rem;
    margin-left: 0;
  }

  .NavLink {
    font-size: 0.9rem;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BtnDiscover {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .LogoMain {
    display: none;
  }

  .LogoSmall {
    display: block;
    margin-right: 5px;
  }

  .NavSearchForm {
    padding-left: 0px;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BtnDiscover {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* 992px */
@media (max-width: 992px) {
  .navbar-collapse {
    flex-direction: column;
  }

  .NavBackground {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .NavLink {
    padding: 5px;
    text-align: center;
    width: 100%;
  }

  .BtnDiscover {
    padding-top: 5px;
  }
}

/* 767px */
@media (max-width: 767px) {
  .NavBar {
    padding: 20px !important;
  }

  .NavLink {
    display: inline;
    text-align: right;
  }

  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
  }

  .BtnDiscover {
    margin-bottom: 5px;
  }

  .BtnSignUp {
    margin-top: 5px;
  }

  .LogoMain {
    display: contents;
  }

  .LogoSmall {
    display: none;
  }

  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
