.NavBar {
  padding: 1.4rem 0 1.4rem 0;
  width: 100%;
  height: 12rem;
  background-image: url("../assets/under_nav_banner.png");
  background-position: center;
}

/* NavLink text */

.NavLink {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 12px;
}

.NavBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 100%;
}

/* NavBar icons */

.NavHomeIcon {
  font-size: 1.7rem;
}

.NavPostIcon,
.NavLikeIcon,
.NavMyGamesIcon {
  font-size: 1rem;
  margin-bottom: 3px;
  margin-right: 5px;
}

/* Search button, icon and input form */

.NavSearchForm {
  display: flex;
  align-items: center;
  max-width: 15rem;
  width: 100%;
  height: 5rem;
}

.NavSearchInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.NavSearchIcon {
  font-size: 1.1rem;
}

.BtnSearch {
  background-color: #ffffff;
  border: 1.6px solid #000000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.BtnSearch:hover {
  background-color: #23272b;
}

.BtnSearch i {
  color: #000000;
}

.BtnSearch:hover i {
  color: #ffa750;
  border-color: #ffa750;
}

/* Authentication buttons */

.BtnLoginOut {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  color: #ffffff;
}

.BtnLoginOut:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffa750;
}

.BtnSignUp {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 0.9rem;
  border: none;
  background-color: #8a4af3;
}

.BtnSignUp:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Media queries */

/* 1200px */
@media (max-width: 1200px) {
  .NavBackground {
    display: block;
  }

  .NavHomeIcon {
    font-size: 1.7rem;
  }

  .NavLink {
    font-size: 0.9rem;
  }
}

/* 1000px */
@media (max-width: 1000px) {
  .NavSearchForm {
    width: 300px;
  }
}