.NavBar {
  padding: 1.4rem 0 1.4rem 0;
  width: 100%;
  height: 12rem;
  background-image: url("../assets/nav_banner.png");
  background-position: center;
}

/* NavLink text */

.NavLink {
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 17px;
  white-space: nowrap;
}

.NavLink:hover {
  color: #ffa750 !important;
}

.Active {
  color: #ffa750 !important;
}

.NavBackground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.ProfileName {
  display: flex;
  align-items: center;
  background: linear-gradient(70deg, #1094f8, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* NavBar icons */

.DiscoverIcon {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.7rem;
  background: linear-gradient(70deg, #8a4af3, #ffa750);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.NavIcons {
  font-size: 1.2rem;
  margin-bottom: 3px;
  margin: 0 5px 0 5px;
  background: linear-gradient(70deg, #8a4af3, #ffa750);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Logo styling */

.LogoMain {
  display: block;
}

.LogoSmall {
  display: none;
}

/* Media queries */

/* 1480px */
@media (max-width: 1480px) {
  .NavBackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .NavLink {
    font-size: 0.9rem;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .LogoMain {
    display: none;
  }

  .LogoSmall {
    display: block;
    margin-right: 5px;
  }
}

/* 1200px */
@media (max-width: 1200px) {
  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 992px */
@media (max-width: 992px) {
  .navbar-collapse {
    flex-direction: column;
  }

  .NavBackground {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  .NavLink {
    padding: 5px;
    text-align: center;
    width: 100%;
  }
}

/* 767px */
@media (max-width: 767px) {
  .NavBar {
    padding: 20px !important;
  }

  .NavLink {
    display: inline;
    text-align: right;
  }

  .NavBackground {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
  }

  .LogoMain {
    display: contents;
  }

  .LogoSmall {
    display: none;
  }

  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
