.Post {
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  border: 1px solid #dadadf;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
  color: #261b7a;
}

.Post a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.Post a:hover {
  color: #2142b2;
}

.Post figure,
h5 {
  margin: 0 0;
}

/* Like & Comment text */

.LikeCommentText {
  font-family: "Patrick Hand", sans;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 3px;
  color: #3e30a9;
}

/* Like & Comment icons */

.Heart {
  font-size: 1.5rem;
  margin-right: 1px;
}

.HeartOutline {
  font-size: 1.5rem;
  margin-right: 1px;
}

.CommentIcon {
  margin-left: 10px;
  margin-right: 1px;
}

.StarIcon {
  margin-left: 10px;
  margin-right: 1px;
}

/* Image */

.PostImage {
  border: 8px solid black;
  border-radius: 5px 5px 0 0;
}

/* Updated at */

.UpdatedAt {
  margin-right: 15px;
}
