/* Import SharedBoxStyles for reusability */

@import "../styles/SharedBoxStyles.module.css";

/* GameInfoContainer */

.GameInfoContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

/* Upload image section */

.UploadImage i {
  margin-top: 20px;
  font-size: 7rem;
  background: linear-gradient(70deg, #8a4af3, #ffa750);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.ImageText {
  font-family: "Kalam", sans;
  font-size: 17px;
  font-weight: 300;
  color: #d2b5aa;
}

.ImageText:hover {
  color: #ffffff;
}

.PostLabel {
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;
  color: #ffa750;
}

.CustomHrPost {
  border: none;
  height: 2px;
  max-width: 50%;
  background: linear-gradient(70deg, #8a4af3, #ffa750);
  margin-bottom: 10px;
}

/* Search inside Dropdown */

.DropdownSearch {
  width: 55%;
  margin: 10px;
}

/* Star Rating */

.StarRating {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Star {
  margin: 0 5px;
}

/* Media queries */

@media (max-width: 767px) {
  .Container {
    padding-bottom: 10px;
  }

  .row {
    flex-direction: column !important;
  }
}
