.Content {
  background-color: #181435;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #ffffff;
}

.ProfileImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  margin: 4px;
  border: 1px solid #ffffff;
}

.SearchIcon {
  margin-left: 45%;
}

.ProfileOwner {
  background: linear-gradient(70deg, #ff6b6b, #7a2de6);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.ProfileBiography {
  font-family: "Roboto", sans;
  font-size: 1.1rem;
  word-wrap: break-word;
  margin-top: 6px;
  background: linear-gradient(70deg, #4cb0d2, #9549ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.PlaceholderText {
  font-style: italic;
}

.ProfileDetailText {
  background: linear-gradient(70deg, #9549ff, #ffa750);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 991px) {
  .ProfileImage {
    width: 250px;
    height: 250px;
  }
}
