.Row {
  height: calc(100vh - 600px);
}

.Input {
  background: #ffffff;
  border: 1px solid #f0f1f9;
  box-sizing: border-box;
  border-radius: 2px;
  color: #522c91;
  text-align: center;
  padding: 10px;
}

.Header {
  font-family: "Pixelify Sans", sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffa750;
  margin-bottom: 20px;
}

.Link {
  text-decoration: none;
  text-align: center;
  display: block;
  margin: auto;
}

.Link span {
  color: #ffa750;
}

.Container {
  padding: 30px 10px;
}

.SignInCol {
  height: 320px;
}

.SignUpCol {
  height: 375px;
}

.Bright {
  background-color: #2ed9ff;
  color: #ffa750;
}
