.App {
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

.Main {
  padding-top: 220px;
}

* {
  box-sizing: border-box;
}

a {
  color: #ffffff;
  transition: color ease-in-out 0.3s;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #8a4af3;
  transition: color ease-in-out 0.3s;
}

i {
  color: #ffa750;
  font-size: 1.4rem;
  padding: 2px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: #ffa750;
}
